////
/// @group scale
/// @author cgoern
////

// ==========================================================================
// Modules
// ==========================================================================

@use 'sass:list';
@use 'sass:meta';
@use './library/config';
@use './library/utils';

// ==========================================================================
// Variables
// ==========================================================================

/// Base font size for the scale calculation.
///
/// @since 2.1.0
///
/// @type number
$base: 15px !default;

/// Number of upscales which should be calculated.
///
/// @since 2.1.0
///
/// @type number
$ups: 6 !default;

/// Number of downscales which should be calculated.
///
/// @since 2.1.0
///
/// @type number
$downs: 6 !default;

/// Factor for the modular scale calculation.
///
/// @since 2.1.0
///
/// @type number
$factor: 1.2 !default;

/// Ratio for the letter spacing calculation.
///
/// @since 2.1.0
///
/// @type number
$spacing: 0 !default;

/// UPM and cap height values of the used typeface.
///
/// @since 2.1.0
///
/// @type null | list | map
$metrics: null !default;

/// Up- and downscale custom property names.
///
/// @since 2.0.0
///
/// @type list
$levels: (
  '8xs',
  '7xs',
  '6xs',
  '5xs',
  '4xs',
  '3xs',
  '2xs',
  'xs',
  'sm',
  'md',
  'lg',
  'xl',
  '2xl',
  '3xl',
  '4xl',
  '5xl',
  '6xl',
  '7xl',
  '8xl'
) !default;

// ==========================================================================
// Mixins
// ==========================================================================

/// Declares a set of custom properties for up- and downscales.
///
/// @since 2.0.0
///
/// @param {number} $base - Base font size for the scale calculation.
/// @param {number} $ups - Number of upscales which should be calculated.
/// @param {number} $downs - Number of downscales which should be calculated.
/// @param {number} $factor - Factor for the modular scale calculation.
/// @param {number} $spacing - Ratio for the letter spacing calculation.
/// @param {null | list | map} $metrics - UPM and cap height values of the used typeface.
@mixin props(
  $base: $base,
  $ups: $ups,
  $downs: $downs,
  $factor: $factor,
  $spacing: $spacing,
  $metrics: $metrics
) {
  @for $index from ($downs * -1) through $ups {
    $start: list.index($levels, 'md');
    $name: list.nth($levels, $start + $index);
    $fontSize: utils.calcFontSize($base, $factor, $index);
    $lineHeight: utils.calcLineHeight($fontSize);

    //
    // Declare fontSize and lineHeight.
    // --------------------------------------------------------------------------
    --#{config.$namespace}-fontSize-#{$name}: #{$fontSize};
    --#{config.$namespace}-lineHeight-#{$name}: #{$lineHeight};

    //
    // Declare letterSpacing for a single style.
    // --------------------------------------------------------------------------
    @if meta.type-of($spacing) == 'number' {
      --#{config.$namespace}-letterSpacing-#{$name}: #{utils.calcLetterSpacing(
          $fontSize,
          $spacing
        )};
    }
    //
    // Declare letterSpacing for multiple styles.
    // --------------------------------------------------------------------------
    @else {
      @each $style, $value in $spacing {
        @if $value {
          --#{config.$namespace}-letterSpacing-#{$name}-#{$style}: #{utils.calcLetterSpacing(
              $fontSize,
              $value
            )};
        }
      }
    }

    //
    // Declare trimOffset for a single style.
    // --------------------------------------------------------------------------
    @if meta.type-of($metrics) == 'list' {
      $upm: list.nth($metrics, 1);
      $capHeight: list.nth($metrics, 2);

      --#{config.$namespace}-trimOffset-#{$name}: #{utils.calcTrimOffset(
          $fontSize,
          $lineHeight,
          $upm,
          $capHeight
        )};
    }
    //
    // Declare trimOffset for multiple styles.
    // --------------------------------------------------------------------------
    @else if meta.type-of($metrics) == 'map' {
      @each $style, $metric in $metrics {
        $upm: list.nth($metric, 1);
        $capHeight: list.nth($metric, 2);

        --#{config.$namespace}-trimOffset-#{$name}-#{$style}: #{utils.calcTrimOffset(
            $fontSize,
            $lineHeight,
            $upm,
            $capHeight
          )};
      }
    }
  }
}
