@use './cap' with
  (
    $baseSizes: (
      15px,
      18px,
    ),
    $defaultWeight: 'soft',
    $fonts: (
      'sans': (
        'family': '"Inter"',
        'fallback': 'sans-serif',
        'weights': (
          'soft': 400,
          'strong': 500,
          'heavy': 600,
        ),
        'styles': (
          ('normal', '/fonts/Inter-roman.var.woff2'),
          ('italic', '/fonts/Inter-italic.var.woff2'),
        ),
        'upm': 2816,
        'capHeight': 2048,
        'features': "'calt', 'liga', 'ss03', 'zero', 'cv05', 'cv10'",
        'spacing': 1,
      ),
      'serif': (
        'family': '"Merriweather"',
        'fallback': 'serif',
        'weights': (
          'soft': 400,
          'strong': 500,
          'heavy': 900,
        ),
        'styles': (
          ('normal', '/fonts/Merriweather-roman.var.woff2'),
          ('italic', '/fonts/Merriweather-italic.var.woff2'),
        ),
        'upm': 2000,
        'capHeight': 1486,
        'features': normal,
        'spacing': null,
      ),
    )
  );

@use './components/text';
@use './components/rich-text';
