:root {
	--cap-text-levels-ratio: 1.2;
	--cap-text-levels-base: 14px;
	--cap-text-levels-down: -2;
	--cap-text-levels-up: 6;

	--cap-text-font-family-sans: 'Inter', sans-serif;
	--cap-text-font-feature-settings-sans: 'calt', 'liga', 'ss03', 'zero', 'cv05', 'cv10', 'ss01';
	--cap-text-upm-sans: 2048;
	--cap-text-cap-height-sans: 1490;
	--cap-text-letter-spacing-factor-sans: 1;
	--cap-text-font-weight-soft-sans: 400;
	--cap-text-font-weight-strong-sans: 500;
	--cap-text-font-weight-heavy-sans: 600;

	--cap-text-font-family-serif: 'Merriweather', serif;
	--cap-text-font-feature-settings-serif: 'liga';
	--cap-text-upm-serif: 2000;
	--cap-text-cap-height-serif: 1486;
	--cap-text-letter-spacing-factor-serif: 0.5;
	--cap-text-font-weight-soft-serif: 400;
	--cap-text-font-weight-strong-serif: 500;
	--cap-text-font-weight-heavy-serif: 700;

	--cap-text-font-family-mono: 'Fira Code', monospace;
	--cap-text-font-feature-settings-mono: 'liga';
	--cap-text-upm-mono: 1950;
	--cap-text-cap-height-mono: 1374;
	--cap-text-letter-spacing-factor-mono: 0;
	--cap-text-font-weight-soft-mono: 400;
	--cap-text-font-weight-strong-mono: 500;
	--cap-text-font-weight-heavy-mono: 600;
}

/**
 * Fonts
 */

@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	src: url('./../assets/fonts/Inter.var.woff2') format('woff2-variations');
}

@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: italic;
	font-weight: 100 900;
	src: url('./../assets/fonts/Inter-Italic.var.woff2') format('woff2-variations');
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 100 900;
	src: url('./../assets/fonts/Merriweather.var.woff2') format('woff2-variations');
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 100 900;
	src: url('./../assets/fonts/Merriweather-Italic.var.woff2') format('woff2-variations');
}

@font-face {
	font-display: swap;
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 100 900;
	src: url('./../assets/fonts/FiraCode.var.woff2') format('woff2-variations');
}

body.cap-debug {
	margin: 0;
	padding: 48px 24px;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

body.cap-debug cap-text {
	box-shadow: inset 0 1px 0 0 rgb(255 0 0 / 50%), inset 0 -1px 0 0 rgb(255 0 0 / 50%);
}
