:root {
	--cap-text-font-weight-soft: 400;
	--cap-text-font-weight-strong: 500;
	--cap-text-font-weight-heavy: 600;

	--cap-text-levels-ratio: 1.2;
	--cap-text-levels-base: 17px;
	--cap-text-levels-down: -8;
	--cap-text-levels-up: 8;

	--cap-text-font-family-sans: 'Inter', sans-serif;
	--cap-text-font-feature-settings-sans: 'calt', 'liga', 'ss03', 'zero', 'cv05', 'cv10', 'ss01';
	--cap-text-upm-sans: 2048;
	--cap-text-cap-height-sans: 1490;

	--cap-text-font-family-serif: 'Merriweather', serif;
	--cap-text-font-feature-settings-serif: 'liga';
	--cap-text-upm-serif: 2000;
	--cap-text-cap-height-serif: 1486;

	--cap-text-font-family-mono: 'Fira Code', monospace;
	--cap-text-font-feature-settings-mono: 'liga';
	--cap-text-upm-mono: 1950;
	--cap-text-cap-height-mono: 1374;
}

/**
 * Fonts
 */

@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	src: url('./../assets/fonts/Inter.var.woff2') format('woff2-variations');
}

@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: italic;
	font-weight: 100 900;
	src: url('./../assets/fonts/Inter-Italic.var.woff2') format('woff2-variations');
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 100 900;
	src: url('./../assets/fonts/Merriweather.var.woff2') format('woff2-variations');
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 100 900;
	src: url('./../assets/fonts/Merriweather-Italic.var.woff2') format('woff2-variations');
}

@font-face {
	font-display: swap;
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 100 900;
	src: url('./../assets/fonts/FiraCode.var.woff2') format('woff2-variations');
}

body {
	margin: 0;
	padding: 48px 24px;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

/* cap-text:not(:defined) {
	visibility: hidden;
} */
