// ==========================================================================
// Modules
// ==========================================================================

@use './../../sass/index' as cap;
@use './../../sass/font';
@use './../../sass/scale' with (
  $base: 17px,
  $ups: 8,
  $downs: 8,
  $spacing: 0,
  $metrics: (
    2816,
    2048,
  )
);

// ==========================================================================
// Rules
// ==========================================================================

@include font.face(
  $family: 'Inter',
  $style: normal,
  $weight: 400 600,
  $src: './../assets/fonts/Inter-roman.var.woff2'
);

@include font.face(
  $family: 'Inter',
  $style: italic,
  $weight: 400 600,
  $src: './../assets/fonts/Inter-italic.var.woff2'
);

// ==========================================================================
// Single typeface
// ==========================================================================

:root {
  @include font.props(
    $family: 'Inter',
    $fallback: sans-serif,
    $weights: (
      'soft': 400,
      'strong': 500,
      'heavy': 600,
    ),
    $features: (
      'calt',
      'liga',
      'ss03',
      'zero',
      'cv05',
      'cv10',
    )
  );

  @include scale.props;
}

body {
  font-family: var(--cap-fontFamily);
}
