// ==========================================================================
// Modules
// ==========================================================================

@use './../../sass/index' as cap;
@use './../../sass/font';
@use './../../sass/scale' with (
  $base: 17px,
  $ups: 8,
  $downs: 8,
  $spacing: (
    'sans': 0,
    'serif': null,
    'mono': 10,
  ),
  $metrics: (
    'sans': (
      2816,
      2048,
    ),
    'serif': (
      2000,
      1486,
    ),
    'mono': (
      1950,
      1374,
    ),
  )
);

// ==========================================================================
// Rules
// ==========================================================================

@include font.face(
  $family: 'Inter',
  $style: normal,
  $weight: 400 600,
  $src: './../assets/fonts/Inter-normal.var.woff2'
);

@include font.face(
  $family: 'Inter',
  $style: italic,
  $weight: 400 600,
  $src: './../assets/fonts/Inter-italic.var.woff2'
);

@include font.face(
  $family: 'Merriweather',
  $style: normal,
  $weight: 400 700,
  $src: './../assets/fonts/Merriweather-normal.var.woff2'
);

@include font.face(
  $family: 'Merriweather',
  $style: italic,
  $weight: 400 700,
  $src: './../assets/fonts/Merriweather-italic.var.woff2'
);

@include font.face(
  $family: 'FiraCode',
  $style: normal,
  $weight: 400 700,
  $src: './../assets/fonts/FiraCode.var.woff2'
);

// ==========================================================================
// Single typeface
// ==========================================================================

:root {
  @include font.props(
    $family: 'Inter',
    $fallback: sans-serif,
    $weights: (
      'soft': 400,
      'strong': 500,
      'heavy': 600,
    ),
    $features: (
      'calt',
      'liga',
      'ss03',
      'zero',
      'cv05',
      'cv10',
    ),
    $name: 'sans'
  );

  @include font.props(
    $family: 'Merriweather',
    $fallback: serif,
    $weights: (
      'soft': 400,
      'strong': 500,
      'heavy': 600,
    ),
    $features: (
      'liga',
    ),
    $name: 'serif'
  );

  @include font.props(
    $family: 'FiraCode',
    $fallback: monospace,
    $weights: (
      'soft': 400,
      'strong': 500,
      'heavy': 600,
    ),
    $features: (
      'liga',
    ),
    $name: 'mono'
  );

  @include scale.props;
}

body {
  &.debug {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    display: grid;
    font-kerning: normal;
    gap: 64px;
    grid-template: auto / minmax(auto, 640px);
    justify-content: center;
    margin: 0;
    padding: 64px 16px;
    text-rendering: optimizeLegibility;
  }
}
