////
/// @group config
/// @author cgoern
////

// ==========================================================================
// Variables
// ==========================================================================

/// The default namespace for CSS custom properties.
///
/// @since 2.0.0
///
/// @type string
$namespace: 'cap' !default;

/// Description...
///
/// @since 2.0.0
///
/// @type boolean
$roundEven: true !default;

/// Description...
///
/// @since 2.0.0
///
/// @type list
$scales: (
  '7xs',
  '6xs',
  '5xs',
  '4xs',
  '3xs',
  '2xs',
  'xs',
  'sm',
  'md',
  'lg',
  'xl',
  '2xl',
  '3xl',
  '4xl',
  '5xl',
  '6xl',
  '7xl'
) !default;
