// ==========================================================================
// Modules
// ==========================================================================

@use 'cap';

:root {
	@include cap.levels();
}



:root {
	--cap-font-family-sans: 'Inter', sans-serif;
	--cap-font-upm-sans: 2048;
	--cap-font-cap-height-sans: 1490;

	--cap-font-family-serif: 'Merriweather', serif;
	--cap-font-upm-serif: 2000;
	--cap-font-cap-height-serif: 1486;

	--cap-font-family-mono: 'FiraCode', monospace;
	--cap-font-upm-mono: 1950;
	--cap-font-cap-height-mono: 1374;
}

body {
	margin: 0;
	padding: 64px 16px;
	display: grid;
	grid-template-columns: minmax(auto, 720px);
	justify-content: center;
	font-size: 20px;
	line-height: 1.5;
	gap: 48px;
}

@font-face {
	font-display: block;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	src: url('./fonts/InterVariable.woff2') format('woff2-variations');
}

@font-face {
	font-display: block;
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 100 900;
	src: url('./fonts/MerriweatherVariable.woff2') format('woff2-variations');
}

@font-face {
	font-display: block;
	font-family: 'FiraCode';
	font-style: normal;
	font-weight: 100 900;
	src: url('./fonts/FiraCodeVariable.woff2') format('woff2-variations');
}

cap-text:not(:defined) {
	display: block;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.banner {
	background: red;
	height: 200px;
}
