:host {
	display: block;
	font-family: var(--cap-text-font-family);
	font-feature-settings: var(--cap-text-font-feature-settings, normal);
	font-kerning: normal;
	font-optical-sizing: auto;
	font-size: var(--cap-text-font-size);
	font-variation-settings: 'wght' var(--cap-text-font-weight);
	font-style: var(--cap-text-font-style, normal);
	letter-spacing: var(--cap-text-letter-spacing);
	line-height: var(--cap-text-line-height);
	padding-bottom: 1px;
	padding-top: 1px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
}

:host::before,
:host::after {
	content: '';
	display: block;
	height: 0;
}

:host::before {
	margin-top: calc((var(--cap-text-leading-trim) + 1px) * -1);
}

:host::after {
	margin-bottom: calc((var(--cap-text-leading-trim) + 1px) * -1);
}

/**
 * Level
 */

:host(.level\3a \-8) {
	--cap-text-font-size: var(--cap-text-font-size-minus-8);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-minus-8-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-minus-8-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-minus-8-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-minus-8-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-minus-8-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-minus-8-mono);
	--cap-text-line-height: var(--cap-text-line-height-minus-8);
}

:host(.level\3a \-7) {
	--cap-text-font-size: var(--cap-text-font-size-minus-7);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-minus-7-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-minus-7-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-minus-7-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-minus-7-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-minus-7-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-minus-7-mono);
	--cap-text-line-height: var(--cap-text-line-height-minus-7);
}

:host(.level\3a \-6) {
	--cap-text-font-size: var(--cap-text-font-size-minus-6);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-minus-6-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-minus-6-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-minus-6-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-minus-6-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-minus-6-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-minus-6-mono);
	--cap-text-line-height: var(--cap-text-line-height-minus-6);
}

:host(.level\3a \-5) {
	--cap-text-font-size: var(--cap-text-font-size-minus-5);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-minus-5-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-minus-5-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-minus-5-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-minus-5-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-minus-5-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-minus-5-mono);
	--cap-text-line-height: var(--cap-text-line-height-minus-5);
}

:host(.level\3a \-4) {
	--cap-text-font-size: var(--cap-text-font-size-minus-4);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-minus-4-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-minus-4-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-minus-4-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-minus-4-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-minus-4-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-minus-4-mono);
	--cap-text-line-height: var(--cap-text-line-height-minus-4);
}

:host(.level\3a \-3) {
	--cap-text-font-size: var(--cap-text-font-size-minus-3);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-minus-3-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-minus-3-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-minus-3-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-minus-3-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-minus-3-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-minus-3-mono);
	--cap-text-line-height: var(--cap-text-line-height-minus-3);
}

:host(.level\3a \-2) {
	--cap-text-font-size: var(--cap-text-font-size-minus-2);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-minus-2-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-minus-2-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-minus-2-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-minus-2-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-minus-2-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-minus-2-mono);
	--cap-text-line-height: var(--cap-text-line-height-minus-2);
}

:host(.level\3a \-1) {
	--cap-text-font-size: var(--cap-text-font-size-minus-1);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-minus-1-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-minus-1-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-minus-1-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-minus-1-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-minus-1-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-minus-1-mono);
	--cap-text-line-height: var(--cap-text-line-height-minus-1);
}

:host(.level\3a 0) {
	--cap-text-font-size: var(--cap-text-font-size-0);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-0-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-0-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-0-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-0-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-0-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-0-mono);
	--cap-text-line-height: var(--cap-text-line-height-0);
}

:host(.level\3a \+1) {
	--cap-text-font-size: var(--cap-text-font-size-plus-1);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-plus-1-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-plus-1-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-plus-1-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-plus-1-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-plus-1-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-plus-1-mono);
	--cap-text-line-height: var(--cap-text-line-height-plus-1);
}

:host(.level\3a \+2) {
	--cap-text-font-size: var(--cap-text-font-size-plus-2);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-plus-2-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-plus-2-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-plus-2-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-plus-2-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-plus-2-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-plus-2-mono);
	--cap-text-line-height: var(--cap-text-line-height-plus-2);
}

:host(.level\3a \+3) {
	--cap-text-font-size: var(--cap-text-font-size-plus-3);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-plus-3-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-plus-3-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-plus-3-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-plus-3-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-plus-3-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-plus-3-mono);
	--cap-text-line-height: var(--cap-text-line-height-plus-3);
}

:host(.level\3a \+4) {
	--cap-text-font-size: var(--cap-text-font-size-plus-4);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-plus-4-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-plus-4-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-plus-4-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-plus-4-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-plus-4-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-plus-4-mono);
	--cap-text-line-height: var(--cap-text-line-height-plus-4);
}

:host(.level\3a \+5) {
	--cap-text-font-size: var(--cap-text-font-size-plus-5);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-plus-5-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-plus-5-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-plus-5-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-plus-5-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-plus-5-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-plus-5-mono);
	--cap-text-line-height: var(--cap-text-line-height-plus-5);
}

:host(.level\3a \+6) {
	--cap-text-font-size: var(--cap-text-font-size-plus-6);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-plus-6-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-plus-6-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-plus-6-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-plus-6-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-plus-6-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-plus-6-mono);
	--cap-text-line-height: var(--cap-text-line-height-plus-6);
}

:host(.level\3a \+7) {
	--cap-text-font-size: var(--cap-text-font-size-plus-7);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-plus-7-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-plus-7-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-plus-7-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-plus-7-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-plus-7-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-plus-7-mono);
	--cap-text-line-height: var(--cap-text-line-height-plus-7);
}

:host(.level\3a \+8) {
	--cap-text-font-size: var(--cap-text-font-size-plus-8);
	--cap-text-leading-trim-sans: var(--cap-text-leading-trim-plus-8-sans);
	--cap-text-leading-trim-serif: var(--cap-text-leading-trim-plus-8-serif);
	--cap-text-leading-trim-mono: var(--cap-text-leading-trim-plus-8-mono);
	--cap-text-letter-spacing-sans: var(--cap-text-letter-spacing-plus-8-sans);
	--cap-text-letter-spacing-serif: var(--cap-text-letter-spacing-plus-8-serif);
	--cap-text-letter-spacing-mono: var(--cap-text-letter-spacing-plus-8-mono);
	--cap-text-line-height: var(--cap-text-line-height-plus-8);
}

/**
 * Family
 */

:host(.family\3a sans) {
	--cap-text-font-family: var(--cap-text-font-family-sans);
	--cap-text-font-feature-settings: var(--cap-text-font-feature-settings-sans);
	--cap-text-leading-trim: var(--cap-text-leading-trim-sans);
	--cap-text-letter-spacing: var(--cap-text-letter-spacing-sans);
	--cap-text-font-weight: var(--cap-text-font-weight-sans);
}

:host(.family\3a serif) {
	--cap-text-font-family: var(--cap-text-font-family-serif);
	--cap-text-font-feature-settings: var(--cap-text-font-feature-settings-serif);
	--cap-text-leading-trim: var(--cap-text-leading-trim-serif);
	--cap-text-letter-spacing: var(--cap-text-letter-spacing-serif);
	--cap-text-font-weight: var(--cap-text-font-weight-serif);
}

:host(.family\3a mono) {
	--cap-text-font-family: var(--cap-text-font-family-mono);
	--cap-text-font-feature-settings: var(--cap-text-font-feature-settings-mono);
	--cap-text-leading-trim: var(--cap-text-leading-trim-mono);
	--cap-text-letter-spacing: var(--cap-text-letter-spacing-mono);
	--cap-text-font-weight: var(--cap-text-font-weight-mono);
}

/**
 * Weight
 */

:host(.weight\3a soft) {
	--cap-text-font-weight-sans: var(--cap-text-font-weight-soft-sans);
	--cap-text-font-weight-serif: var(--cap-text-font-weight-soft-serif);
	--cap-text-font-weight-mono: var(--cap-text-font-weight-soft-mono);
}

:host(.weight\3a strong) {
	--cap-text-font-weight-sans: var(--cap-text-font-weight-strong-sans);
	--cap-text-font-weight-serif: var(--cap-text-font-weight-strong-serif);
	--cap-text-font-weight-mono: var(--cap-text-font-weight-strong-mono);
}

:host(.weight\3a heavy) {
	--cap-text-font-weight-sans: var(--cap-text-font-weight-heavy-sans);
	--cap-text-font-weight-serif: var(--cap-text-font-weight-heavy-serif);
	--cap-text-font-weight-mono: var(--cap-text-font-weight-heavy-mono);
}

/**
 * Ellipsis
 */

:host(.ellipsis) {
	--cap-text-content-overflow: hidden;
	--cap-text-content-text-overflow: ellipsis;
	--cap-text-content-white-space: nowrap;
	--cap-text-content-width: 100%;
	--cap-text-content-min-width: 0;
}

:host(.italic) {
	--cap-text-font-style: italic;
}

/**
 * Content
 */

#content {
	display: block;
	text-overflow: var(--cap-text-content-text-overflow, clip);
	white-space: var(--cap-text-content-white-space, normal);
	width: var(--cap-text-content-width, auto);
	min-width: var(--cap-text-content-min-width, auto);
	overflow: var(--cap-text-content-overflow, visible);
}

/**
 * Content before/after
 */

#content::before {
	content: attr(data-before);
}

#content::after {
	content: attr(data-after);
}

/**
 * Slots
 */

::slotted(a) {
	color: var(--cap-text-anchor-color, blue);
	text-decoration: var(--cap-text-anchor-text-decoration, underline);
}

::slotted(strong) {
	font-variation-settings: 'wght' var(--cap-text-strong-font-weight, 700);
}
