// ==========================================================================
// Modules
// ==========================================================================

@use './../index' as cap;
@use './../font' with (
  $families: (
    'sans',
    'serif',
  )
);
@use './../scale' with (
  $base: 17px,
  $ups: 6,
  $downs: 2,
  $spacing: (
    'sans': 0,
    'serif': null,
  ),
  $factor: 1.212,
  $metrics: (
    'sans': (
      2816,
      2048,
    ),
    'serif': (
      2000,
      1486,
    ),
  )
);
@use './../components/text';

// ==========================================================================
// Rules
// ==========================================================================

@include font.face(
  $family: 'Inter',
  $style: normal,
  $weight: 400 600,
  $src: './../../src/assets/fonts/Inter-normal.var.woff2'
);

@include font.face(
  $family: 'Inter',
  $style: italic,
  $weight: 400 600,
  $src: './../../src/assets/fonts/Inter-italic.var.woff2'
);

@include font.face(
  $family: 'Merriweather',
  $style: normal,
  $weight: 400 700,
  $src: './../src/assets/fonts/Merriweather-normal.var.woff2'
);

@include font.face(
  $family: 'Merriweather',
  $style: italic,
  $weight: 400 700,
  $src: './../src/assets/fonts/Merriweather-italic.var.woff2'
);

// ==========================================================================
// Single typeface
// ==========================================================================

:root {
  @include font.props(
    $family: 'Inter',
    $fallback: sans-serif,
    $name: 'sans',
    $weights: (
      'soft': 400,
      'strong': 500,
      'heavy': 600,
    ),
    $features: (
      'calt',
      'liga',
      'ss03',
      'zero',
      'cv05',
      'cv10',
    )
  );

  @include font.props(
    $family: 'Merriweather',
    $fallback: serif,
    $name: 'serif',
    $weights: (
      'soft': 400,
      'strong': 500,
      'heavy': 600,
    ),
    $features: (
      'liga',
    )
  );

  @include scale.props;
}

body {
  display: grid;
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  gap: 64px;
  grid-template: auto / minmax(auto, 640px);
  justify-content: center;
  margin: 0;
  padding: 64px 16px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
}
